@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 5rem;
  }
  body {
    @apply bg-white text-heading font-sans;
  }
  p,
  a {
    @apply font-sans;
  }
  a,
  a:link,
  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold;
  }
}